name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Setup JDK 11
        uses: actions/setup-java@v2.3.0
        with:
          distribution: 'adopt'
          java-version: '11'
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      - name: Access TMDB_API_KEY
        env:
          TMDB_API_KEY: ${{ secrets.TMDB_APIKEY }}
        run: echo tmdb_api_key=\"$TMDB_API_KEY\" > ./local.properties
      - name: Build with Gradle
        run: ./gradlew :app:assemble
      
